[submodule "FabShoppe-spring_reactive_stream"]
	path = FabShoppe-spring_reactive_stream
	url = git@github.com:abhilashRupa/FabShoppe-spring_reactive_stream.git
[submodule "FabShoppe-response-stream"]
	path = FabShoppe-response-stream
	url = git@github.com:abhilashRupa/FabShoppe-response-stream.git
[submodule "FabShoppe-functional"]
	path = FabShoppe-functional
	url = git@github.com:abhilashRupa/FabShoppe-functional.git
[submodule "FabShoppe-reactive-webclient"]
	path = FabShoppe-reactive-webclient
	url = git@github.com:abhilashRupa/FabShoppe-reactive-webclient.git
